

<h1>sign up</h1>

<form action="/users/create" method="POST">
   email: <input type="email"name="email" placeholder="your" required>
   password: <input type="password" name="password" placeholder="your" required>
  confirm password: <input type="password"  name="confirm_password" placeholder="your" required>
    name: <input type="text" name="name"placeholder="your" required>
    <input type="submit" value="sign up">
</form>