
<link rel="stylesheet" href="../../css/home.css">

<div style="color:red">
    <p class="mail"> hi <%=post.user.name%></p>
    <br>
    <p>your post <strong><%=post.content%></strong>just go published</p>
    <br>
    <br>
    <p>thanks!</p>
</div>