#layout-header nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: lemonchiffon; }
  #layout-header nav .mini-logo p {
    margin: 5px;
    font-size: 1.4rem;
    font-weight: bold; }
  #layout-header nav .auth-links ul {
    margin: 5% 5px;
    display: flex; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px;
      list-style-type: none; }
  #layout-header nav a {
    text-decoration: none; }
